.header-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    height: 40px;
}

.header-cart {
    width: 30px;
}
.header-back {
width: 20px;
}
.header-title {
width: 150px;
margin-right: 8px;
}
.header-container :nth-child(3){
    width: 20px;
}
.header-container :nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #9147ff;
    font-weight: 700;
}